<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h2>Register</h2>
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        {{ form.email.label_tag }} {{ form.email }}
        {{ form.first_name.label_tag }} {{ form.first_name }}
        {{ form.last_name.label_tag }} {{ form.last_name }}
        {{ form.role.label_tag }} {{ form.role }}
        {{ form.password1.label_tag }} {{ form.password1 }}
        {{ form.password2.label_tag }} {{ form.password2 }}
        <button type="submit">Register</button>
    </form>
</body>
</html>