{% load static %}
<!--<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar"> -->
    <ul class="nav menu list-unstyled">
        <li class="active"><a href="#"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Dashboard</a></li>
        <li><a href="#"><svg class="glyph stroked open folder"><use xlink:href="#stroked-open-folder" /></svg> Membuat Ticket</a></li>
        <!-- Pengadaan Barang -->
        <li class="submenu">
            <a href="#" class="collapsed" data-toggle="collapse" data-target="#submenu-pengadaan">
                <svg class="glyph stroked bag"><use xlink:href="#stroked-bag"></use></svg> Pengadaan Barang
                <span class="caret"></span>
            </a>
            <ul id="submenu-pengadaan" class="collapse ">
                <li><a href="#"><svg class="glyph stroked bag"><use xlink:href="#stroked-bag"></use></svg> Dashboard Pengadaan </a></li>
                <li><a href="#"><svg class="glyph stroked bag"><use xlink:href="#stroked-bag"></use></svg> Data Barang</a></li>
                <li><a href="#"><svg class="glyph stroked calendar"><use xlink:href="#stroked-bag"></use></svg> Barang Masuk</a></li>
                <li><a href="#"><svg class="glyph stroked calendar"><use xlink:href="#stroked-bag"></use></svg> Barang Keluar</a></li>
            </ul>
        </li>
        <!-- End Pengadaan Barang -->
        <li><a href="#"><svg class="glyph stroked calendar"><use xlink:href="#stroked-male-user"></use></svg> Data Karyawan</a></li>
        <li><a href="#"><svg class="glyph stroked calendar"><use xlink:href="#stroked-male-user"></use></svg> Data User</a></li>
        <li><a href="#"><svg class="glyph stroked calendar"><use xlink:href="#stroked-pen-tip"></use></svg> Jabatan</a></li>
        <li><a href="#"><svg class="glyph stroked calendar"><use xlink:href="#stroked-app-window"></use></svg> Unit</a></li>
        <li><a href="#"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-app-window"></use></svg>Kategori Kerusakan</a></li>
        <li><a href="#"><svg class="glyph stroked calendar"><use xlink:href="#stroked-male-user"></use></svg> Data Teknisi</a></li>
        <li><a href="#"><svg class="glyph stroked hourglass"><use xlink:href="#stroked-hourglass"></use></svg> Kondisi</a></li>
        <li><a href="#"><svg class="glyph stroked open letter"><use xlink:href="#stroked-open-letter" /></svg> Status Ticketing</a></li>
        <li><a href="#"><svg class="glyph stroked clipboard with paper"><use xlink:href="#stroked-clipboard-with-paper" /></svg> My Assigment Ticket</a></li>
        <li><a href="#"><svg class="glyph stroked sound on"><use xlink:href="#stroked-sound-on" /></svg> Evaluasi Teknisi</a></li>
        <li><a href="#"><svg class="glyph stroked sound on"><use xlink:href="#stroked-sound-on" /></svg> News</a></li>
        <li><a href="#"><svg class="glyph stroked calendar"><use xlink:href="#stroked-male-user"></use></svg> Proses Kinerja Teknisi</a></li>
        <li><a href="#"><svg class="glyph stroked sound on"><use xlink:href="#stroked-sound-on" /></svg> Ulasan Untuk Teknisi </a></li>
        <li><a href="#"><svg class="glyph stroked sound on"><use xlink:href="#stroked-sound-on" /></svg> Evaluasi Ulasan Teknisi </a></li>
        <li><a href="#"><svg class="glyph stroked email"><use xlink:href="#stroked-email" /></svg>
                <use xlink:href="#stroked-male-user"></use></svg> Menyetujui Ticket (0)
            </a></li>
        <li><a href="#"><svg class="glyph stroked notepad "><use xlink:href="#stroked-notepad" /></svg> Ticket Masuk & Pilih Teknisi (0)</a></li>
    </ul>
<!--</div>--> <!--/.sidebar-->
